/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/*.logo img {
	background-color: red;
	width:auto;
	margin-left:-80px;
    }*/

    .logo img {
     background-color:red;
     text-align:left;

 }

 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~ ABOUT DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
 .logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ PRICING DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.logo-small {
    color: #a3a3c2;
    font-size: 50px;
}

.logo {
    color: #a3a3c2;
    font-size: 200px;
}

.panel {
    border: 1px solid #f4511e; 
    border-radius:8;
    transition: box-shadow 0.5s;

}

.cb {
    align-items: center;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

/*main {
    margin-bottom: 60px;
    height: auto;
    background-image: url(../pic/nut86.png);
    background-size: 100%;
    background-repeat: auto;
    background-position: relative;
    }*/

  #elem0 {
    position: absolute;
    visibility: visible;
    left: 110px;
    top: 550px;
    z-index: 14;
}


#elem1 {
    max-width: 100%;
    position: absolute;
    visibility: visible;
    left: 250px;
    top: 730px;
    z-index: 13;
}
}


    #elem2 {
        position: absolute;
        visibility: visible;
        left: 390px;
        top: 880px;
        z-index: 88;
    }
}

    #elem3 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem4 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem5 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem6 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem7 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem8 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem9 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem10 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem11 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}

    #elem12 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }
}


    #elem13 {
        position: absolute;
        visibility: visible;
        left: 110px;
        top: 550px;
        z-index: 88;
    }

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ SLIDE IN EFFECT ~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

    .slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}