/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/*.logo img {
    background-color: red;
    width:auto;
    margin-left:-80px;
}*/

.logo img {
    background-color:red;
    text-align:left;

}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ IMG DIV ~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/


.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 60%;
    height: 60%;
    opacity: 0.7;
}
.person:hover {
    border-color: #f1f1f1;
}

.row-pics {
margin-left: 110px;
}

/*-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~ --*/

main{
    min-height: 1300px;
}




















