/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/

.container-banner {
	position:relative;
	width:100%;
	background-color:#B7E2E8;
  z-index:-1; 
}

#truck {
	position:relative;
	width:40%;
  z-index:-1; 
}

.textfade {
  position:absolute;
  width:50%;
  top: 45%;
  transform: translateY(-50%);
  z-index:-1; 
}

.textfade h4 {
    font-size: 2.0vw;
    margin-top:10%;
    z-index:-1; 

}

/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ COMPANY VALUES ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/


.companyvalues {
  margin-top:50px;
  height:auto;
  width:80%;
  background-color:#e6e6e6;

}

.overview {
  margin-top:5%;
  margin-bottom:8%;
}

#companytitle {
background-color:#474e5d;
color:white;
margin-top:-1%;
padding-top: 25px;
padding-bottom:25px;
margin-left: -3%;
margin-right: -3%;
}

.overviewbox {
  margin-top:1%;
}

.overviewbox:hover {
  background-color:#d3d3d3;
}

.glyphicon {
    font-size: 30px;
    color:#B7E2E8;
}


/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ HIRE A TRUCK  ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/


.emergencybox {
  background-color:#FF6D6D;
  height: 40px;
  margin-top:-2%;
}

.emergencybox h4 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}
.bg-3 {
  background-color: #e6e6e6;
  margin-top:3%;
  margin-bottom:5%;
  width:80%;
}

#canvas {
    border:1px solid red;
/*    width: 100%;*/
}

/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ CONTACT  ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/

.bg-5 {
  background-color: #e6e6e6;
  margin-top:3%;
  margin-bottom:18%;
  width:80%;
}

.contactbox {
  background-color:#e6e6e6;
  margin-top:6%;
}

.contactrow {
  margin-top:3%;
  margin-bottom:3%;
}

.contacttext {
  width:100%;
  background-color:#474e5d;
  padding-top:15px;
  padding-bottom:15px;
  color:white;
}

.hiretrucktext {
  margin-bottom:7%;
  margin-top:5%;
}


/* Flexible Google maps */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top:10%;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*  <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ POP WINDOW ~~~~~~~~~~~~~~~~~~~~~~~~~~ -->*/



#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto;
z-index: 5;
}

img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
font-family:'Raleway',sans-serif
z-index: 5;
}
form {
max-width:450px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
font-family:raleway;
background-color:#ffffff; 
z-index: 5;
}
p {
margin-top:30px
}
h2 {
background-color:#B7E2E8;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}
input[type=text] {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}
#name {
background-image:url(../images/name.jpg);
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
background-image:url(../images/email.png);
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(../images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}
span {
color:red;
font-weight:700
}
button {
width:10%;
height:45px;
border-radius:3px;
background-color:#cd853f;
color:#fff;
font-family:'Raleway',sans-serif;
font-size:18px;
cursor:pointer
}
