.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

.container-banner {
	position:relative;
	width:100%;
	background-color:#B7E2E8;
}

#truck {
	position:relative;
	width:40%;
}

.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    height: auto;
}

h3 {
	text-align:center;
	color:white;
	padding-top: 25px;
	padding-bottom:25px;
}

main {
	height: auto;
	margin-bottom:80px;
}


.person {
   border: 10px solid transparent;
   margin-bottom: 55px;
   max-width: 40%;
   max-height: auto;
   opacity: 0.9;
   margin: 0 auto;
   display: flex;
   justify-content:center;
   margin-bottom:45px;
}


.person:hover {
   border-color: #f1f1f1 ;
}

.test {
	background-color:#474e5d;
}

.text {
	text-align:center;
	margin:0 auto;
	margin-bottom:20px;
}